In [24]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
from collections import Counter
from sklearn.feature_selection import mutual_info_classif
warnings.filterwarnings('ignore')

from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn import metrics

In [37]:
# Logestic regression

train = pd.read_csv("train.csv")
train = train.sample(frac=1).reset_index(drop=True)
# train.head()

In [38]:
train.shape

trainclass1 = train.loc[train['target'] == 1]
trainclass0 = train.loc[train['target'] == 0]

print(trainclass1.shape)
print(trainclass0.shape)

trainclass1head500 = trainclass1.head(10000)
trainclass0head500 = trainclass0.head(10000)

frames = [trainclass1head500, trainclass0head500]
train1 = pd.concat(frames)

train1.shape

(21694, 59)
(573518, 59)

(20000, 59)

In [42]:
X = train1[train.columns[2:]]
y = train1[train.columns[1:2]]

In [43]:
X.head()

,ps_ind_01,ps_ind_02_cat,ps_ind_03,ps_ind_04_cat,ps_ind_05_cat,ps_ind_06_bin,ps_ind_07_bin,ps_ind_08_bin,ps_ind_09_bin,ps_ind_10_bin,...,ps_calc_11,ps_calc_12,ps_calc_13,ps_calc_14,ps_calc_15_bin,ps_calc_16_bin,ps_calc_17_bin,ps_calc_18_bin,ps_calc_19_bin,ps_calc_20_bin
9,5,4,5,1,4,0,0,1,0,0,...,5,2,5,5,0,1,0,0,0,1
42,0,1,8,0,0,1,0,0,0,0,...,7,3,1,6,1,1,1,0,0,0
74,0,2,0,1,-1,0,1,0,0,0,...,5,2,3,8,0,1,0,0,0,0
104,4,1,4,1,0,0,1,0,0,0,...,1,1,1,9,0,0,0,0,1,0
108,7,1,9,0,0,0,0,1,0,0,...,2,1,3,4,0,0,1,0,1,0

In [44]:
y.head()

     target
9         1
42        1
74        1
104       1
108       1

In [45]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=123, stratify = y)

In [46]:

#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=1000)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [50]:
feature_imp = pd.Series(clf.feature_importances_).sort_values(ascending=False)
feature_imp
topfeatures = pd.DataFrame(feature_imp)
topfeatures.head(10)

           0
34  0.058342
20  0.048599
35  0.042682
31  0.036198
14  0.034510
46  0.033741
50  0.033305
2   0.032540
47  0.031165
39  0.030958

In [47]:
#saving top features along with id and target variables
topfeatures = train.iloc[:,[0,1,34,20,35,31,14,2,46,50,38,47]]

topfeatures.to_csv("topfeatures.csv", sep=',', index=False, encoding='utf-8') 
print("Top 10 features along with ID and Target are saved as topfeatures.csv in the current working directory\n")

Top 10 features along with ID and Target are saved as topfeatures.csv in the current working directory

In [48]:
topfeatures.head()

,id,target,ps_car_11,ps_reg_01,ps_car_12,ps_car_09_cat,ps_ind_13_bin,ps_ind_01,ps_calc_08,ps_calc_12,ps_car_15,ps_calc_09
0,494228,0,3,0.0,0.316228,0,0,2,10,0,3.464102,4
1,549468,0,2,0.6,0.424264,3,0,1,6,0,2.000000,0
2,695518,0,2,0.8,0.400000,0,0,0,11,0,3.464102,2
3,1237762,0,2,0.3,0.316228,2,0,0,10,1,2.828427,3
4,664144,0,2,0.9,0.374166,2,0,0,7,2,3.741657,3